html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
/*
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}*/

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components { 
	.cardBtn {
		@apply px-5 py-4 bg-white rounded-md mt-3 w-full outline-1 cursor-pointer outline-gray-300 outline text-left hover:bg-gray-200 focus-visible:bg-gray-200 transition;
	}

	.pagePadding {
		@apply 2xl:px-48 lg:px-32 md:px-20 sm:px-14 px-8 py-20;
	}

}

ul[data-type="taskList"] {
	list-style: none;
	padding: 0;
  
	p {
	  margin: 0;
	}
  
	li {
	  display: flex;
  
	  > label {
		flex: 0 0 auto;
		margin-right: 0.5rem;
		user-select: none;
	  }
  
	  > div {
		flex: 1 1 auto;
	  }
	}
  }